<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1256"/>
<title>Insert title here</title>
</head>
<body>
<table th:if="${information}" th:inline="text">
		<tr>
			<th>User Information</th>
		</tr>
 
		<tr th:each="Info : ${information}">
 
			<tr><td>Name:</td><td th:text="${Info.getFirstName()}" ></td><td th:text="${Info.getLastName()}" ></td></tr> 
			<tr><td>Email:</td><td th:text="${Info.getEmail()}"></td></tr> <br></br>
			<tr><td>User Name:</td><td th:text="${Info.getUserName()}"></td></tr> <br></br>
			<tr><td>Account Type:</td><td th:text="${Info.getType()}"></td></tr><br></br>
		</tr>
	</table>
<br></br>	
<form action="/addcourse">

<input type="submit" value="add course"  />

</form>
<form action="/addgame">

<input type="submit" value="add game"  />

</form>
<form action="/showCourses">

<input type="submit" value="show Courses"  />

</form>
<form action="/showUserInformation">

<input type="submit" value="show your information"  />

</form>

<form action="/showGameInCourse">
enter course  name if u want show its game <input type="text" name="courseName"  />
<input type="submit" value="show"  />

</form> 
<form action="/playgame">
		Game Name<input type="text" name="GName"></input><br></br>
		
		 <input type="submit"  value="play game"></input>
	</form>

</body>
</html>